# Supabase — Frontend (aman di-expose)
VITE_SUPABASE_URL=https://lehycnwvatdgnuirmfmw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxlaHljbnd2YXRkZ251aXJtZm13Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEwMjIzNjMsImV4cCI6MjEwNjU5ODM2M30.JD-DE-AUDMxQSL7Z5cpmlFInFgJ0HJILF87Q6gC-XUI

# Supabase — Server only (JANGAN taruh di frontend)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxlaHljbnd2YXRkZ251aXJtZm13Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MTAyMjM2MywiZXhwIjoyMTA2NTk4MzYzfQ.SjPb3QzgQZQFPJtYRHx0kYbiCWWfFnO_9R3UkPt-RUs